# SERVER_URL=https://сервер.три-клопа.рф
SERVER_URL=http://localhost:1337
NEXT_PUBLIC_SERVER_URL=http://localhost:1337
# NEXT_PUBLIC_SITE_URL=https://три-клопа.рф
TELEGRAM_BOT_TOKEN=8
TELEGRAM_CHAT_ID=-10