@use '@/sass/roots/roots.variables' as *;
// // @use '@/sass/roots/roots.tokens' as *;

.info {
	padding: calc(var(--main-section-paddings) * 0.6) 0;
	margin-bottom: calc(var(--main-section-paddings) * 0.9);
	background-color: var(--tertiary-color);

	ul {
		display: flex;
		// align-items: center;
		justify-content: space-evenly;

		flex-wrap: wrap;

		// gap: 40px;
		@media (max-width:$mobile) {
			flex-direction: column;
		}

		li {
			flex: 1 1 calc(33.3333333333% - 10px);
			padding: 5px 5px;

			text-align: center;
			line-height: 1.4;
			color: var(--accent-color);
			text-decoration: underline;
		}
	}
}