@use '@/sass/roots/roots.variables' as *;
// // @use '@/sass/roots/roots.tokens' as *;

@use '@/sass/base/mixins' as *;

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 14px;
	padding: 15px 38px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: rem(18);
	font-weight: var(--bold);

	// Themes ========================================================================================================================================================

	&--primary {
		background-color: var(--btn-color);
		color: var(--secondary-font-color);

		&:hover {
			background-color: var(--btn-hover-color);
		}
	}

	&--secondary {
		background-color: var(--main-color);
		color: var(--main-font-color);
		border: 1px solid var(--border-color);

		&:hover {
			color: var(--secondary-font-color);
			background-color: var(--btn-hover-color);
		}
	}

	// Sizes ========================================================================================================================================================

	&--small {
		padding: 0.25rem 0.5rem;
		font-size: rem(16);

		@media (max-width: $mobile) {
			font-size: rem(14);
		}
	}

	&--medium {
		padding: 0.5rem 1rem;
		font-size: rem(18);

		@media (max-width: $mobile) {
			font-size: rem(16);
		}

		// @media (max-width: $mobileSmall) {
		// 	font-size: rem(14);
		// }
	}

	&--large {
		padding: 0.75rem 1.5rem;
		font-size: rem(24);

		@media (max-width: $tablet) {
			font-size: rem(22); // Меньший размер шрифта на мобильных устройствах
		}

		@media (max-width: $mobile) {
			font-size: rem(20);
		}

		@media (max-width: $mobileSmall) {
			font-size: rem(18);
		}
	}
}